<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCProgressLineViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E088E9F1E6FD91100FE43FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E088EB81E6FD91200FE43FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E088EC31E6FD91200FE43FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
